<div class = "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
    <form ng-submit="login.login()" method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
      <hr class="colorgraph"><br>

      <input ng-model= "login.artist.username" type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
      <input ng-model= "login.artist.password"type="password" class="form-control" name="Password" placeholder="Password" required=""/>

      <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
      <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit"><i class="fa fa-facebook"> </i>Login With Facebook</button>
    </form>
  </div>
</div>

